---
import { getCollection } from 'astro:content'
import { Picture } from 'astro:assets'

import LayoutMain from '../layouts/Main.astro'
// import Scrobbler from '../components/Scrobbler.astro'

const allPhotography = await getCollection('photography')

// sort by date DESC + grab the 3 latest photos
const allPhotographyDateDesc = allPhotography
  .toSorted((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .filter((_, key) => key < 6)
---

<LayoutMain title='Luke Secomb | Web Developer, Photographic connoisseur and Music nerd'>
  <div class='flex-1 flex flex-col px-4 mx-auto'>
    <section class="w-full max-w-7xl mx-auto pt-20 pb-20 flex flex-wrap gap-8 justify-between">
      <div class="w-full md:w-1/2">
        <h1 class='font-bold text-6xl md:text-7xl lg:text-8xl 2xl:text-8xl cursor-default text-balance pb-4'>
          Luke<br/>Secomb
        </h1>
        <div class="max-w-2xl grid gap-2">
          <p>Welcome to my part of the internet, a personal site for me to share my passion for web development, photography and music.</p>
        </div>
      </div>
      <div class="w-full xl:w-1/2 xl:max-w-lg flex flex-col">
        <h2 class="text-5xl xl:text-2xl mb-2">Recent photos</h2>
        <div class="grid grid-cols-3">
          {
            allPhotographyDateDesc.map((item) => (
              <a href={`/${item.collection}/${item.id}`} class="aspect-square overflow-hidden">
                <Picture
                  src={item.data.src}
                  alt={item.data.alt}
                  class={`object-cover h-full`}
                  widths={[560, 1080]}
                  sizes={`(max-width: 1600px) 560px, 1440px`}
                  formats={['avif', 'webp']}
                />
              </a>
            ))
          }
          {
            allPhotographyDateDesc.map((item, key) => key > 1 && (
              <a href={`/${item.collection}/${item.id}`} class="aspect-square overflow-hidden">
                <Picture
                  src={item.data.src}
                  alt={item.data.alt}
                  class={`object-cover h-full`}
                  widths={[560, 1080]}
                  sizes={`(max-width: 1600px) 560px, 1440px`}
                  formats={['avif', 'webp']}
                />
              </a>
            ))
          }
        </div>
        <a class="mt-1 underline ml-auto" href="/photography">See more</a>
      </div>
    </section>

    <section class="w-full max-w-7xl mx-auto pt-20 pb-20 flex flex-col">
      <h2 class="text-5xl">Blog</h2>
      <p>latest blog posts to go here somehow - probs some cards</p>
    </section>

    <section class="w-full max-w-7xl mx-auto pt-20 pb-20 flex flex-col">
      <h2 class="text-5xl">Projects</h2>
      <p>latest projects to go here somehow - probs some cards</p>
    </section>

    <section class="w-full max-w-7xl mx-auto pt-20 pb-20 flex flex-col">
      <h2 class="text-5xl">Music</h2>
      <p>position stick the scrobbler + put a bit more info here</p>
    </section>
  </div>
</LayoutMain>

