---
import { InferEntrySchema } from 'astro:content'
import {
  EXIF_MAKE_MAPPING,
  EXIF_MODEL_MAPPING,
  EXIF_LENS_MAPPING,
} from '../constants'
import { formatShutterSpeed } from '../utils'

interface Props {
  metadata: InferEntrySchema<'photography'>['metadata']
}

const { metadata } = Astro.props

if (!metadata) {
  return
}

const { make, model, lens, fStop, shutterSpeed, iso, focalLength } = metadata

const makeDisplay = EXIF_MAKE_MAPPING[make]
const modelDisplay = EXIF_MODEL_MAPPING[model]
const lensDisplay = lens ? EXIF_LENS_MAPPING[lens] : undefined

---

<span class='flex flex-col'>
  <span class="font-semibold">{makeDisplay} {modelDisplay}</span>
  {lensDisplay && <span>{lensDisplay}</span>}
  <small class='flex flex-wrap gap-4 mt-1'>
    {focalLength && <span>{focalLength}mm</span>}
    {fStop && <span>ƒ/{fStop}</span>}
    {shutterSpeed && <span>{formatShutterSpeed(shutterSpeed)}</span>}
    {iso && <span>ISO {iso}</span>}
  </small>
</span>
