---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '@fontsource-variable/noto-sans'
import '@fontsource/fira-code'
import '../reset.css'
import '../style.css'

import { SITE_TITLE } from '../constants'

const { title, description, ogImageId, ogImageUrl } = Astro.props

const permalink = new URL(Astro.url.pathname, Astro.site).href
const descriptionNormalised =
  description ||
  "Hi, I'm Luke Web developer, Photographic connoisseur and Music nerd. Specialist Lead at Deloitte Digital."

const ogImageNormalised = new URL(
  ogImageUrl ? ogImageUrl : ogImageId ? `/og/${ogImageId}.jpg` : '/og.jpg',
  Astro.site
).href
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content={descriptionNormalised} />
    <meta name='author' content='Luke Secomb' />
    <link
      rel='alternate'
      type='application/rss+xml'
      title={SITE_TITLE}
      href={new URL('rss.xml', Astro.site)}
    />
    <link href='https://github.com/lukethacoder' rel='me' />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content={permalink} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={descriptionNormalised} />
    <meta property='og:image' content={ogImageNormalised} />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={permalink} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={descriptionNormalised} />
    <meta property='twitter:image' content={ogImageNormalised} />
  </head>
  <body class='layout mx-auto'>
    <a href='#main' class='skip-to'>Skip to main content</a>
    <Header siteTitle='hello world' />
    <main class='flex flex-1' id='main'>
      <slot />
    </main>
    <Footer />
  </body>
  <script
    data-goatcounter='https://luke.goatcounter.com/count'
    async
    src='//gc.zgo.at/count.js'></script>
  <script
    type='text/partytown'
    async
    src={`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.PUBLIC_GOOGLE_ANALYTICS_MEASUREMENT_ID}`}
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || []
    function gtag() {
      window.dataLayer.push(arguments)
    }
    gtag('js', new Date())
  </script>
</html>
